# Ignore the build and lib dirs
build
lib/*
.vscode

# Ignore any executables
bin/*

# CMake and Make
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executable
ZebraEngine
SquareOrDie

*.o
*.gch
